<h1> Login </h1>

<%= form_with url: login_path, local: true do %>
    <div> 
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
    </div>
    <div> 
        <%= label_tag :password %>
        <%= password_field_tag :password, params[:password] %>
    </div>

    <%= submit_tag 'Login' %>
<% end %>